body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ocupa toda la altura de la ventana */
    /* Primera fuente: Rammetto One */
    font-family: "TASA Orbiter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /*------------------------------*/
}

/* Segunda fuente: TASA Orbiter */
h1, h2, h3{
    color: rgb(54, 0, 0);
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*------------------------------*/

a{
    text-decoration: none;
}

/* Navbar */
nav{
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: rgba(255, 165, 165, 0.671);
    backdrop-filter: blur(20px); /* Difuminación del fondo semitransparente */
    padding: 1% 3%;
    display: flex;
    gap: 3%;
}

#navbaropciones{
    display: flex;
    gap: 40px;
}

#logonavbar{
    width: 3%;
    height: 3%;
}

.opcionmenu{
    text-decoration: none;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px;
    transition: letter-spacing 0.3s ease;
}

.opcionmenu:hover{
    color: rgb(196, 0, 0);
    letter-spacing: 2px;
}

#opcionmenuactual{
    border-bottom: 2px solid rgb(71, 0, 0);
}

#opcionmenuactual:hover{
    border-bottom: 2px solid rgb(196, 0, 0);
}

@media (max-width: 768px) {
    nav{
        padding: 4% 0;
        justify-content: center;
    }

    #navbaropciones{
        gap: 10px;
    }
    
    #logonavbar{
        width: 35px;
        height: 35px;
    }

    .opcionmenu{
        gap: 3px;
        padding: 5px;
    }
}
/*--------*/

/* Footer */
footer{
    text-align: center;
    font-size: large;
    color: white;
    background-color: rgb(77, 9, 0);
    padding: 2%;
}

@media (max-width: 768px) {
    footer{
        font-size: 14px;
        padding: 4% 2%;
    }
}
/*--------*/

#contenidopag{
    flex: 1;    /* Empuja el footer hacia abajo, así junto con lo que he hecho en el body tengo el footer siempre abajo */
}

/* Hero */
#hero{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0 20px;
}

#hero h1{
    font-size: 50px;
}

#hero h2{
    font-size: 30px;
}

.botonverdados{
    border-color: rgb(71, 0, 0);
    padding: 10px 50px;
    background-color: rgb(255, 91, 91);
    cursor: pointer;
    border-radius: 13px;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: "TASA Orbiter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.1s linear;
}

.botonverdados:hover{
    color: rgb(196, 0, 0);
    border-color: rgb(196, 0, 0);
    background-color: rgb(255, 54, 54);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #hero{
        margin: 40px 0;
    }
    
    #hero h2{
        font-size: 18px;
        margin: 0 10px 25px;
    }
}
/*------*/

/* Tarjetas interactivas */
.tarjetas {
    display: flex;
    justify-content: center;
    padding: 3%;
    gap: 7%;
}
/* Lo que tendra todas las cartas */

/* Estado de carta normal */
.carta {
    position: relative;
    width: 20%;
    border-radius: 12px;
    border: 10px solid rgb(255, 185, 185);
    background-color: rgb(255, 185, 185);
}

/* Hover: escala, sombra y cambio de color */
.carta:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.445);
    background-color: rgb(165, 12, 12);
    border: 10px solid rgb(165, 12, 12);
}

.carta img {
    width: 100%;
    display: block;
}

/* Imagen base inicialmente visible */
.dado-base {
    opacity: 1;
    transition: opacity 0.6s;
    position: relative;
    z-index: 1;
}

/* Imagen hover inicialmente oculta */
.dado-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: opacity 0.4s;
}

/* Cambio de foto al hover, ocultar la base y mostrar la otra */
.carta:hover .dado-base {
  opacity: 0;
}

.carta:hover .dado-hover {
  opacity: 1;
}

@media (max-width: 768px) {
    /* Tarjetas interactivas */
    .tarjetas {
        padding: 3%;
        gap: 3%;
        flex-direction: column;
        align-items: center;
    }
    /* Lo que tendra todas las cartas */

    /* Estado de carta normal */
    .carta {
        width: 65%;
        
        border-radius: 12px;
        border: 10px solid rgb(255, 185, 185);
        background-color: rgb(255, 185, 185);
    }

    /* Hover: escala, sombra y cambio de color */
    .carta:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.445);
        background-color: rgb(165, 12, 12);
        border: 10px solid rgb(165, 12, 12);
    }

    .carta img {
        width: 100%;
        display: block;
    }

    /* Imagen base inicialmente visible */
    .dado-base {
        opacity: 1;
        transition: opacity 0.6s;
        position: relative;
        z-index: 1;
    }

    /* Imagen hover inicialmente oculta */
    .dado-hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        transition: opacity 0.4s;
    }

    /* Cambio de foto al hover, ocultar la base y mostrar la otra */
    .carta:hover .dado-base {
      opacity: 0;
    }

    .carta:hover .dado-hover {
      opacity: 1;
    }
}
/*--------------------------------*/

/* Especifico cada transicion de cada carta */

/* Carta 1 */
#carta1{
    transition: transform 0.7s ease, box-shadow 0.7s ease;
}

/* Carta 2 */
#carta2{
    transition: transform 0.7s ease-in, box-shadow 0.7s ease-in;
}

/* Carta 3 */
#carta3{
    transition: transform 0.7s linear, box-shadow 0.7s linear;
}
/*------------------------------------------*/

/* Menu secundario */
#menusecundario{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 119, 119);
    padding: 2%;
    margin: 1% 0 5%;
    gap: 10%;
}

.opcmenusecundario{
    text-decoration: none;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    transition: letter-spacing 0.3s ease;
    font-size: 25px;
}

.opcmenusecundario:hover{
    color: rgb(196, 0, 0);
    letter-spacing: 2px;
}
/*-----------------*/

/* Fondo de galeria */
#fondodados{
  background-image: url("./assets/img/fondodados.jpg"); /* ruta a tu imagen */
  background-size: cover;      /* La imagen cubre toda la pantalla */
  background-position: center; /* Centrada */
  background-repeat: no-repeat; /* No repetir */
  background-attachment: fixed; /* La imagen queda fija al hacer scroll */
  backdrop-filter: blur(5px); /* Difuminación */
}
/*------------------*/

#fondodados h1{
    color: white;
}

/* Loader */
.parteloader{
    display: flex;
    justify-content: center;
    margin: 4% 0 0;
    align-items: center;
    gap: 30px;
}

.loader{
    width: 170px;
    height: 170px;
    border: 13px solid #ffc9c9;
    border-left-color: rgb(196, 0, 0);
    border-right-color: rgb(196, 0, 0);
    border-radius: 50%;
    animation: girar 1.4s linear infinite;
}

.loader img{
    width: 50%;
    padding: 25%;
}

@keyframes girar {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
/*--------*/

/* Pieza animada principal */
.partepiezaanimada{
    margin: 0 0 5%;
    overflow: hidden;
    padding: 10% 0;
}

.piezaanimada{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: piezaanimada 2.5s ease-in-out infinite;
}

@keyframes piezaanimada {
    0%   { transform: scale(1); opacity: 1; }
    50%  { transform: scale(2.5); opacity: 0.6; }
    100% { transform: scale(1); opacity: 1; }
}

.textopiezaanimada{
    animation: textopiezaanimada 2.5s ease-in-out infinite alternate;
}

@keyframes textopiezaanimada {
    0%   { color: white; }
    50%  { color: rgb(255, 83, 83); }
    100% { color: rgb(105, 0, 0); }
}
/*------------------------*/

/* Bloques scroll */
.bloquesscroll{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 7%;
}

.bloquesscroll img{
    width: 60%;
    opacity: 0;
    transform: translateY(50px);
    animation-name: animacionscroll;
    animation-duration: 1s;
    animation-timeline: view(); /* El progreso de la animación depende de si el bloque esta dentro del viewport */
    animation-range: 0% 70%;   /* Cuando empieza y termina la animación segun la posición del bloque dentro de la pantalla */
    animation-fill-mode: both;  /* Mantener estado final */
}

@keyframes animacionscroll {
    from {opacity: 0; transform: translateY(100px); }
    to {opacity: 1; transform: translateY(0); }
}

/* Fallback obligatori */
@supports not (animation-timeline: view()) {
    .bloquesscroll img {opacity: 0; animation: fallbackobligatori 1s ease forwards; }
}

@keyframes fallbackobligatori {
    from { opacity: 0; transform: translateY(100px); }
    to { opacity: 1; transform: translateY(0); }
}
/*----------------*/

.centrartexto{
    text-align: center;
}

.centrartexto h1{
    font-size: 3rem;
}

.apartado{
    border-bottom: 2px solid rgb(54, 0, 0);
    font-size: 2rem;
}

/* Mostrari de fonts */
.mostrarifonts{
    margin: 0 14%;
}

.tt1{
    font-weight: bolder;    /* Negrita */
    line-height: 400%;  /* Separaciön entre parrafos */
    letter-spacing: 12px;   /* Separación entre letras */
    font-size: 2.5rem;  /* Tamaño de letra */
}

.tt2{
    font-weight: 700;
    line-height: 300%;
    letter-spacing: 10px;
    font-size: 2rem;
}

.tt3{
    font-weight: normal;
    line-height: 250%;
    letter-spacing: 7px;
    font-size: 1.5rem;
}

.ttp{
    font-weight: bold;
    line-height: 200%;
    letter-spacing: 4px;
    font-size: 1rem;
}

.alinear{
    display: flex;
    align-items: center;
    font-size: 1rem;
}
/*------------*/

/* Material icons botones y links */
.materialicon{
    margin: 0 14% 5%;
}

.midapeso{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 0 2%;
}

.midapeso p{
    display: flex;
    align-items: center;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.boton1{
    border-color: rgb(71, 0, 0);
    padding: 10px 50px;
    background-color: rgb(255, 91, 91);
    cursor: pointer;
    border-radius: 13px;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: "TASA Orbiter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.1s linear;
}

.boton1:hover{
    color: rgb(196, 0, 0);
    border-color: rgb(196, 0, 0);
    background-color: rgb(255, 54, 54);
    transform: scale(1.05);
}

.boton2{
    border-color: rgb(71, 0, 0);
    padding: 10px 50px;
    background-color: white;
    cursor: pointer;
    border-radius: 13px;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.3s ease-out;
}

.boton2:hover{
    transform: scale(1.4);
}
/*--------------------------------*/

/* Tabla Colores */
.colores { 
    margin: 0 14% 8%;
}

.colores table { 
    width: 100%;
    border-collapse: collapse; /* Quita el espacio entre bordes de celdas */
    text-align: center;
}

.colores th, .colores td { 
    border: 1px solid rgb(54, 0, 0); /* Bordes de cada celda de color oscuro */
    padding: 8px; /* Espacio interno en celdas */
}

 .mostrarcolor { 
    width: 50px; /* Ancho de la primera fila para mostrar el color */
}
/*---------------*/