body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ocupa toda la altura de la ventana */
    /* Primera fuente: Rammetto One */
    font-family: "TASA Orbiter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /*------------------------------*/
}

/* Segunda fuente: TASA Orbiter */
h1, h2, h3{
    color: rgb(54, 0, 0);
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*------------------------------*/

a{
    text-decoration: none;
}

/* Navbar */
nav{
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: rgba(255, 165, 165, 0.671);
    backdrop-filter: blur(20px); /* Difuminación del fondo semitransparente */
    padding: 1% 3%;
    display: flex;
    gap: 3%;
}

#navbaropciones{
    display: flex;
    gap: 40px;
}

#logonavbar{
    width: 3%;
    height: auto;
}

.opcionmenu{
    text-decoration: none;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    gap: 7px;
}

.opcionmenu:hover{
    color: rgb(196, 0, 0);
}
/*--------*/

/* Footer */
footer{
    text-align: center;
    font-size: large;
    color: white;
    background-color: rgb(77, 9, 0);
    padding: 2%;
}
/*--------*/

#contenidopag{
    flex: 1;    /* Empuja el footer hacia abajo, así junto con lo que he hecho en el body tengo el footer siempre abajo */
}

/* Hero */
#hero{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0 20px;
}

.botonverdados{
    border-color: rgb(71, 0, 0);
    padding: 10px 50px;
    background-color: rgb(255, 91, 91);
    cursor: pointer;
    border-radius: 13px;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: "TASA Orbiter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.botonverdados:hover{
    color: rgb(196, 0, 0);
    border-color: rgb(196, 0, 0);
    background-color: rgb(255, 54, 54);
}
/*------*/

/* Tarjetas interactivas */
.tarjetas {
    display: flex;
    justify-content: center;
    padding: 3% 0 7%;
}

.carta {
    position: relative;
    width: 20%;
    border-radius: 12px;
    border: 10px solid rgb(255, 185, 185);
    background-color: rgb(255, 185, 185);
    transition: transform 0.4s, box-shadow 0.4s, background-color 0.4s;
}

/* Hover: escala, sombra y cambio de color */
.carta:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.445);
    background-color: rgb(165, 12, 12); /* color de hover */
    border: 10px solid rgb(165, 12, 12);
}

.carta img {
    width: 100%;
    display: block;
}

/* Imagen base visible siempre */
.dado-base {
    opacity: 1;
    transition: opacity 0.6s;
    position: relative;
    z-index: 1;
}

/* Imagen hover inicialmente oculta */
.dado-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: opacity 0.4s;
}

/* Cambio de foto al hover */
.carta:hover .dado-base {
  opacity: 0;
}

.carta:hover .dado-hover {
  opacity: 1;
}
