body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ocupa toda la altura de la ventana */
    /* Primera fuente: Rammetto One */
    font-family: "TASA Orbiter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /*------------------------------*/
}

/* Segunda fuente: TASA Orbiter */
h1, h2, h3{
    color: rgb(54, 0, 0);
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*------------------------------*/

a{
    text-decoration: none;
}

/* Navbar */
nav{
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: rgba(255, 165, 165, 0.671);
    backdrop-filter: blur(20px); /* Difuminación del fondo semitransparente */
    padding: 1% 3%;
    display: flex;
    gap: 3%;
}

#navbaropciones{
    display: flex;
    gap: 40px;
}

#logonavbar{
    width: 3%;
    height: auto;
}

.opcionmenu{
    text-decoration: none;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px;
    transition: letter-spacing 0.3s ease;
}

.opcionmenu:hover{
    color: rgb(196, 0, 0);
    letter-spacing: 2px;
}

#opcionmenuactual{
    border-bottom: 2px solid rgb(71, 0, 0);
}

#opcionmenuactual:hover{
    border-bottom: 2px solid rgb(196, 0, 0);
}
/*--------*/

/* Footer */
footer{
    text-align: center;
    font-size: large;
    color: white;
    background-color: rgb(77, 9, 0);
    padding: 2%;
}
/*--------*/

#contenidopag{
    flex: 1;    /* Empuja el footer hacia abajo, así junto con lo que he hecho en el body tengo el footer siempre abajo */
}

/* Hero */
#hero{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0 20px;
}

#hero h1{
    font-size: 50px;
}

#hero h2{
    font-size: 30px;
}

.botonverdados{
    border-color: rgb(71, 0, 0);
    padding: 10px 50px;
    background-color: rgb(255, 91, 91);
    cursor: pointer;
    border-radius: 13px;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: "TASA Orbiter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.1s linear;
}

.botonverdados:hover{
    color: rgb(196, 0, 0);
    border-color: rgb(196, 0, 0);
    background-color: rgb(255, 54, 54);
    transform: scale(1.05);
}
/*------*/

/* Tarjetas interactivas */
.tarjetas {
    display: flex;
    justify-content: center;
    padding: 3%;
    gap: 7%;
}
/* Lo que tendra todas las cartas */

/* Estado de carta normal */
.carta {
    position: relative;
    width: 20%;
    border-radius: 12px;
    border: 10px solid rgb(255, 185, 185);
    background-color: rgb(255, 185, 185);
}

/* Hover: escala, sombra y cambio de color */
.carta:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.445);
    background-color: rgb(165, 12, 12);
    border: 10px solid rgb(165, 12, 12);
}

.carta img {
    width: 100%;
    display: block;
}

/* Imagen base inicialmente visible */
.dado-base {
    opacity: 1;
    transition: opacity 0.6s;
    position: relative;
    z-index: 1;
}

/* Imagen hover inicialmente oculta */
.dado-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: opacity 0.4s;
}

/* Cambio de foto al hover, ocultar la base y mostrar la otra */
.carta:hover .dado-base {
  opacity: 0;
}

.carta:hover .dado-hover {
  opacity: 1;
}
/*--------------------------------*/

/* Especifico cada transicion de cada carta */

/* Carta 1 */
#carta1{
    transition: transform 0.7s ease, box-shadow 0.7s ease;
}

/* Carta 2 */
#carta2{
    transition: transform 0.7s ease-in, box-shadow 0.7s ease-in;
}

/* Carta 3 */
#carta3{
    transition: transform 0.7s linear, box-shadow 0.7s linear;
}
/*------------------------------------------*/

/* Menu secundario */
#menusecundario{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 119, 119);
    padding: 2%;
    margin: 1% 0 5%;
    gap: 10%;
}

.opcmenusecundario{
    text-decoration: none;
    color: rgb(71, 0, 0);
    display: flex;
    align-items: center;
    transition: letter-spacing 0.3s ease;
    font-size: 25px;
}

.opcmenusecundario:hover{
    color: rgb(196, 0, 0);
    letter-spacing: 2px;
}
/*-----------------*/

/* Fondo de galeria */
#fondodados{
  background-image: url("./assets/img/fondodados.jpg"); /* ruta a tu imagen */
  background-size: cover;      /* La imagen cubre toda la pantalla */
  background-position: center; /* Centrada */
  background-repeat: no-repeat; /* No repetir */
  background-attachment: fixed; /* La imagen queda fija al hacer scroll */
  backdrop-filter: blur(5px); /* Difuminación */
}
/*------------------*/

#fondodados h1, h2, h3{
    color: white;
}

/* Loader */
.parteloader{
    display: flex;
    justify-content: center;
    margin: 4% 0;
    align-items: center;
    gap: 30px;
}

.loader{
    width: 170px;
    height: 170px;
    border: 13px solid #ffc9c9;
    border-left-color: rgb(196, 0, 0);
    border-right-color: rgb(196, 0, 0);
    border-radius: 50%;
    animation: girar 1.4s ease-in-out infinite;
}

.loader img{
    width: 50%;
    padding: 25%;
}

@keyframes girar {
    to {transform: rotate(360deg); }
}
/*--------*/

/* Cosa animada principal */
.partepiezaanimada{
    margin: 10% 0;
}

.piezaanimada{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*------------------------*/